/* SideBar.module.scss */

.sidebar {
  width: 380px;
  height: 1381px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #f1f1f5;
  border-radius: 15px;
  opacity: 1;
  


  .priceFilter {
    display: flex;
    flex-direction: column;

    .priceLabel {
      margin-bottom: 8px;
      font-weight: bold;
    }

    .inputContainer {
      display: flex;
      align-items: center;
      margin-bottom: 16px;

      .dollarSign {
        margin-right: 8px;
      }

      .input {
        width: 150px;
        height: 44px;
        background: #ffffff 0% 0% no-repeat padding-box;
        border: 1px solid #e5e5ed;
        border-radius: 10px;
        opacity: 1;
        padding-left: 10px; // Adjust padding to your preference
      }
    }
  }
}

/* Add additional styles for the Slider component if needed */
