.ant-slider-handle {
    width: 25px !important;
    height: 25px !important;
    background: #FFFFFF !important;
    border: 2px solid #99CC66 !important;
    border-radius: 13px !important;
    opacity: 1 !important;
    margin-top: -9px !important; // Adjust to center the handle vertically
  }