@import "variables";
@import "mixins";

.newNavbar {
  padding: 20px;
  border-bottom: $border;
  border-top: $border;
  background-color: $color-white;
}

.newContainer {
  @include container();
  @include flexBox-between();
}

.newPart {
  display: flex;
  align-items: center;
  gap: 30px;
}

.newItem {
  color: $color-dark-gray;
  font-family: $font-family-medium;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}


