// Colors

$color-background: #fafafb;
$color-border: #f1f1f5;
$color-white: #ffffff;
$color-dark-gray: #696974;
$color-shadow-black: #00000005;
$color-background-black: #0000004d;

// Fonts

$font-family: "TKT-Regular";
$font-family-medium: "TKT-Medium";

// Border

$border: 1px solid $color-border;
